# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

obj/*
obj_lib/*
obj_tests/*
moc/*
moc_tests/*
bin/QGo*
bin/tests*
bin/cntk_converter.exe
*.pro.user
QGo.pri