# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

obj/*
obj_*/*
moc/*
moc_*/*
bin/QGo*
bin/tests*
bin/*.exe
bin/*.dll
*.pro.user
QGo.pri